body {
    display: block;
    background: #e6e6e6;
    font-family: monospace;
}

.upper, .lower{
    display: flex;
    justify-content: center;
}

#calculator {
    display: grid; 
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 20px;
    padding: 25px;
    margin: 50px;
    margin-bottom: 25px;
}

#display {
    grid-column: span 4;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

#zero{
    grid-column: span 2;
}

#input {
    font-size: 60px;
    text-shadow: 0px -2px rgba(0,0,0,.5);
    font-weight: bold;
}

.gui {
    font-size: 40px;
    text-shadow: 0px -1px rgba(0,0,0,.5);
    font-weight: bold;
}

.gui, #display, #calculator, #tag {
    font-family:  Courier, monospace;
    color: black;
    border-style: none;
    border-radius: 25px;
    background: #e6e6e6;
    box-shadow:  10px 10px 20px #d1d1d1,
                 -10px -10px 20px #fbfbfb;  
}

.gui:active {
    box-shadow: inset 10px 10px 20px #d1d1d1,
            inset -10px -10px 20px #fbfbfb;
}

.operator.active {
    box-shadow: inset 10px 10px 20px #d1d1d1,
            inset -10px -10px 20px #fbfbfb;
}

#tag {
    font-size: 15px;
    text-shadow: 0px -1px rgba(0,0,0,.5);
    border-radius: 10px;
    font-weight: normal;
    padding: 10px;
}
